@model IEnumerable<GymWebsite.Models.Gym>
@{
    ViewBag.Title = "Gym Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="popular-gyms">
    <h2>Gym Locations</h2>
    <div class="gym-container">
        @foreach (var gym in Model)
        {
            @Html.Partial("_GymCard", gym)
        }
    </div>
</section>
